<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->

    <!-- Add reviews as cards -->
        <div class="container-fluid">
            <h2>{{ dealership }}</h2>
            <div class="card-columns-vertical">
                {% for review in reviews %}
                    <div class="card mt-1">
                        <div class="card-header"><h5>Review {{review.order|add:1}}: {{review.name}}</h5></div>
                        <div class="card-body">{{review.review}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>    
       
    </body>

</html>
