{% extends "djangoapp/navbar.html" %}

{% block content %}
<h1>Welcome this is the index page</h1>

<div>{{dealerships}}</div>
<div class="container-fluid">
            <h2>All Dealerships</h2>
            <div class="card-columns-vertical">
                {% for dealership in dealerships %}
                    <div class="card mt-1">
                        <div class="card-header"><h5>Dealer {{dealership.order|add:1}}: {{dealership.full_name}}</h5></div>
                        <div class="card-body">{{dealership.state}}</div>
                                <div>address,city, full_name, id, lat, long, short_name, st, zip, state</div>
                    </div>
                {% endfor %}
            </div>
        </div>    
{% endblock %}
